<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IronHeartHQ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/datatables.css">
    <link rel="stylesheet" href="/static/css/admin/index.css">
</head>

<body>
    <%- include('../partials/admin/navbar.ejs',{user}) %>
    <div id="main">
        <div class="cards">
            <div class="card">
                <h3>Registered Users</h3>
                <p>25</p>
            </div>
            <div class="card">
                <h3>Pending Payout Requests</h3>
                <p>6</p>
            </div>
            <div class="card">
                <h3>Total Wallet Balance</h3>
                <p>500,000,000 CR</p>
            </div>
            <div class="card">
                <h3>Total Pending Payout Amount</h3>
                <p>240,000,000 CR</p>
            </div>
            <div class="card">
                <h3>Last Payout</h3>
                <p>2 hours ago</p>
            </div>
            <div class="card">
                <h3>Oldest Payout Request In Queue</h3>
                <p>37 hours</p>
            </div>
        </div>
        <hr>
        <div class="menu">
            <a href="/admin/transaction"><button>Perform Transactions</button></a>  
            <a href="/admin/payouts"><button>Payout Requests</button></a>  
            <a href="/admin/transaction"><button>Users</button></a>  
            <a href="/admin/transaction"><button>Accounements</button></a>  
            <a href="/admin/transaction"><button>Fleet Carriers</button></a>  
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/admin/index.js"></script>
    <script src="/static/js/fontawesome.js"></script>
</body>

</html>