<div id="navbar">
   <h3>IronHeart<strong>HQ</strong></h3>
   <h4>CMDR <%=user.name.toUpperCase()%> | <i class="fa-solid fa-right-from-bracket" title="Log Out" id="logout-button" onclick="logout();"></i></h4>
</div>