<div id="navbar">
   <h3><a href="/">IronHeart<strong>HQ</strong></a></h3>
      <ul>
         <li><a href="/501">Guides</a></li>
         <li><a href="/501">Events</a></li>
         <% if(user.admin ) { %>
         <li><a href="/admin">Admin Console</a></li>
         <% } %>
      </ul>
      <h4>CMDR <%=user.name.toUpperCase()%> | <i class="fa-solid fa-right-from-bracket" title="Log Out" id="logout-button" onclick="logout();"></i></h4>
</div>