<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IronHeartHQ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/user/index.css">
</head>

<body>
    <%- include('../partials/navbar.ejs', {user}) %>

    <div id="main">
        <h3 class="heading">Announcements</h3>
        <div class="announcements-wrapper">
            <div class="announcement"><p class="announcement-date">[ 17 Feb 2023 ]</p><p class="announcement-issuer">[ CMDR Admiral Smith ] :</p><p class="announcement-text">Payouts have been suspended till Feb 20, 2023. All payouts in queue will be put on hold.</p></div>
            <div class="announcement"><p class="announcement-date">[ 16 Feb 2023 ]</p><p class="announcement-issuer">[ CMDR Admiral Smith ] :</p><p class="announcement-text">All fleet carriers are required to be deployed to Lajit for the war.</p></div>
            <div class="announcement"><p class="announcement-date">[ 15 Feb 2023 ]</p><p class="announcement-issuer">[ CMDR Contum ( DEV ) ] :</p><p class="announcement-text">Website will undergo maintenance on Feb 18. WIll be down for 60 mins.</p></div>
            <div class="announcement"><p class="announcement-date">[ 10 Feb 2023 ]</p><p class="announcement-issuer">[ CMDR Archangel-Zero02  ] :</p><p class="announcement-text">New fleet carrier - IHCF-REVELATIONS is deployed and stationed in HIP 64714.</p></div>
        </div>
        <hr>
        <h3 class="heading" style="margin-top: 25px;">IHCF Wallet</h3>
        <h1 id="wallet-balance"><%=user.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> CR</h1>
        <a href="/wallet/history"><h3 id="transaction-history">View Transaction History</h3></a> 
        <h4 class="subheading">Payout</h4>
        <div id="wallet-buttons-wrapper">
            <form style="margin-top: 15px;">
                <input type="text" placeholder="payout amount">
                <button type="submit">Request Payout</button>
            </form>
        </div>
        <hr>
        <h3 class="heading" style="margin-top: 25px;">Fleet Carriers</h3>
        <div class="carriers-wrapper">
            <div class="carrier">
                <h3>IHCF REVELATIONS</h3>
                <h5>Current System: HIP 64714</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
            <div class="carrier">
                <h3>IHCF BATTLE OF NASSAU</h3>
                <h5>Current System: LTT 5748</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
            <div class="carrier">
                <h3>IHCF CHAOS GATE</h3>
                <h5>Current System: Sol</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
            <div class="carrier">
                <h3>IHCF FREEDOM FLAGSHIP</h3>
                <h5>Current System: Lajit</h5>
                <p>Primary purpose will be for support at home, BGS, and bounty hunting carrier missions.</p>
            </div>
            <div class="carrier">
                <h3>IHCF MINERS RESPITE</h3>
                <h5>Current System: HIP 64714</h5>
                <p>Primary purpose will be for support at home, long range mining, commodity trading.</p>
            </div>
            <div class="carrier">
                <h3>IHCF VINDICATOR</h3>
                <h5>Current System: Mariphobo</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
            <div class="carrier">
                <h3>THE SHINING LARRAS</h3>
                <h5>Current System: Kamocadroa</h5>
                <p>Primary purpose will be for support at home, community goal focus, commodity trading. </p>
            </div>
            <div class="carrier">
                <h3>IHCF MINERS RESPITE</h3>
                <h5>Current System: Khondo Po</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
            <div class="carrier">
                <h3>IHCF EAGLE ONE</h3>
                <h5>Current System: Ngakwilo</h5>
                <p>Primary purpose will be for support at home, BGS, and black market trading.</p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>


    <script src="/static/js/fontawesome.js"></script>
    <script src="/static/js/global.js" async defer></script>
</body>

</html>