<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IronHeartHQ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalizer.css">
    <link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
    <div id="main">
        <h1> 501 </h1>
        <hr>
        <p>This feature is not yet implemented. It is under development and will be avalaible to use when it's ready. Contact site admins for any assistance.</p>
        <button onclick="history.back()">Go Back</button>
        <%- include('../partials/footer.ejs') %>
    </div>

</body>

</html>